.Card{
background-color: white;
font-family: Arial, Helvetica, sans-serif;
width: 200px;
padding:10px;
margin: 10px auto;
border: 1px solid #ccc;
border-radius: 10px;
/*
*display block
*width 80% less
*/
display: inline-block;
}
.Parent{
margin: auto;
width:fit-content;
}
.Card img{
    width: 100%;
}
.Card h4{
    font-size: 20pxS;
    color: rgb(236, 187, 23);
    
}
.Card h3{
    font-size: 15px;
    color: black;
}
.Card button{
    background-color: antiquewhite;
    font-size: 20px;
    color: red
}
.Card button:hover{
    color: black;
    background-color: rgb(22, 221, 22);
    border-radius: 10px;
}
.Card1{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    padding:10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    /*
    *display block
    *width 80% less
    */
    display: inline-block;
    }
     .PARENT1{
          
          margin: auto;
          width: fit-content;
      }
       
      .Card1 img{
          
          width: 100%;
      }
      
      .Card1 h1{
          font-size: 18px;
          font-weight: 300;
      }
      
      .Card1 h1:hover{
          color: rgb(201, 93, 54);
          text-decoration: underline;
      }
      
      .Card1 a{
          color: orangered;
          text-decoration: none;
          font-weight: 570;
          font-size: 22px;
      }
      .Card1 a:hover{
        color: green;
    }